{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title_block %}{% trans "Confirm password reset" %}{% endblock %}

{% block container_block %}

	<div class="container">

		<div class="page-header">  
			<h1>{% trans "Confirm password reset" %}</h1>
		</div>
		
		<p>{% trans "Enter your new password below to reset your password:" %}</p>
		
		<form method="post" action=""> {% csrf_token %}
    		{{ form|crispy }}
    		<input class="btn btn-default" type="submit" value="{% trans 'Set password' %}" />
		</form>

	</div>
{% endblock %}


{# This is used by django.contrib.auth #}